@use '../2-tools/functions' as *;
@use '../2-tools/mixins' as *;


.c-stack {
  display: flex;
  flex-direction: column;
  justify-content: var(--jst-content, center);

  @include max-media(md) {
    br {
      display: none;
    }
  }
}
