// ==========================================================================
// COLOR VARIABLES (Settings Layer)
// ==========================================================================

$clr-primary: #E35205 !default;
$clr-secondary: #16232B !default;
$clr-accent: #EEE6CD !default;
$clr-white: #fff !default;
$clr-black: #000 !default;

// Map of colors for easier management
$colors: (
  "primary": $clr-primary,
  "secondary": $clr-secondary,
  "accent": $clr-accent,
  "white": $clr-white,
  "black": $clr-black,
);
