// =============================================================================
// SPACING
// =============================================================================

$spacing: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);

$gaps: (
  sm: 145,
  md: 160,
  lg: 166,
  xl: 170,
);

// Container max-widths
$container: 1730px;
$container-sm: 1476px;
