@use '../1-settings/colors' as *;
@use '../2-tools/functions' as *;
@use '../2-tools/mixins' as *;

// =============================================================================
// LISTS
// =============================================================================
ul,
dl,
ol {
  margin-inline: 0;
  padding-left: 1.15em;
  list-style: none;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  margin-bottom: 0.5rem;
  color: var(--color, $clr-secondary);

  ul, ol {
    margin-top: 1rem;
  }

}
