// =============================================================================
// IMAGES AND VIDEOS
// =============================================================================

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;

  &.is-cover {
    height: 100%;
    width: 100%;
  }
}
