// =============================================================================
// PAGE
// =============================================================================

:root {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

@media print {
  body,
  html {
    height: auto;
  }
}
