@use '../2-tools/mixins' as *;
@use '../2-tools/functions' as *;

// =============================================================================
// CONTAINER OBJECT
// =============================================================================

.o-container {
  width: 100%;
  max-width: clamp(1200px, 93.02083333333333vw, var(--container));
  margin-inline: auto;

  &--sm {
    max-width: clamp(1200px, 79.89583333333333vw, var(--container-sm));
  }
}
