@use 'sass:math';
@use '../2-tools/mixins' as *;
@use '../2-tools/functions' as *;
@use '../1-settings/spacing' as *;

// =============================================================================
// FLEX
// =============================================================================


.o-flex {
  display: flex;
  flex-direction: var(--direction, row);
  flex-wrap: var(--wrap, wrap);
  justify-content: var(--jst-content, flex-start);
  align-content: var(--align);
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);

  @include min-media(md) {
    @for $x from 1 through 4 {
      --pull-#{$x}: calc((100% / 12) * #{$x});
    }
  }
}

.o-flex__col {
  width: var(--col-width, 100%);
}

@include min-media(sm) {
  @for $x from 1 through 12 {
    @if $x <= 4 $x >= 9 {
      .o-flex__col-#{$x} {
        @include col($x);
      }
    } @else {
      .o-flex__col-#{$x} {
        --col-width : 50%;
      }
    }
  }
}

@include min-media(md) {
  @for $x from 1 through 12 {
    .o-flex__col-md-#{$x} {
      @include col($x);
    }
  }
}


// FLEX MODIFIERS
.is-reverse {
  --direction: row-reverse;
  --wrap: wrap-reverse;
}

.is-center {
  --jst-content: center;
}

.is-spaced {
  --jst-content: space-between;
}

@include min-media(md) {
  .is-md-reverse {
    --direction: row-reverse;
    --wrap: wrap-reverse;
  }
}