// ==========================================================================
// CUSTOM ROOT VARIABLES (Generic Layer)
// ==========================================================================

@use '../1-settings/colors' as *;
@use '../1-settings/spacing' as *;

:root {
  @each $name, $value in $colors {
    --clr-#{$name}: #{$value};
  }
  --container: #{$container};
  --container-sm: #{$container-sm};  
  --tr-speed: 0.2s;
  --tr-ease: ease;
}