@use '../1-settings/colors' as *;

[class*='u-bg'] {
  background-color: var(--bg-color, transparent);
}

[class*='u-color'] {
  color: var(--color, #101010);
}

@each $name, $value in $colors {
  .u-color-#{$name} {
    --color: var(--clr-#{$name});
  }

  .u-bg-#{$name} {
    --bg-color: var(--clr-#{$name});
  }
}
