@use '../2-tools/mixins' as *;

// =============================================================================
// UTILITIES
// =============================================================================

.u-align-center {
  align-items: center !important;
}
.u-justify-center {
  justify-content: center !important;
}
.u-justify-between {
  justify-content: space-between !important;
}
.u-justify-around {
  justify-content: space-around !important;
}
.u-justify-evenly {
  justify-content: space-evenly !important;
}
.u-flex-row-reverse {
  flex-direction: row-reverse !important;
}
.u-flex-column-reverse {
  flex-direction: column-reverse !important;
}
.u-flex-nowrap {
  flex-wrap: nowrap !important;
}
.u-flex-wrap {
  flex-wrap: wrap !important;
}
.u-text-center {
  text-align: center;
}

.u-portrait {
  aspect-ratio: 856/1060;
}

.u-square {
  aspect-ratio: 1;
}

:last-child,
:only-child {
  margin-bottom: 0;
}

.ch-sm { max-inline-size: 20ch !important; }
.ch-md { max-inline-size: 40ch !important; }
.ch-lg { max-inline-size: 60ch !important; }
.ch-xl { max-inline-size: 80ch !important; }

@include min-media(md) {

  .u-md-portrait {
    aspect-ratio: 856/1060;
  }

  .u-md-square {
    aspect-ratio: 1;
  }

  .u-md-text-center {
    text-align: center;
  }
}
