@use 'sass:math';
@use 'sass:map';
@use '../1-settings/breakpoints' as *;

// =============================================================================
// MIXINS
// =============================================================================

// Accessibility
@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Form Styles
@mixin autocomplete($b, $c: #fff, $a: rgba(#000, 0.3), $t: 0.5rem) {
  --field-height: 50px;

  input:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow:
      0 0 0 var(--field-height) $a inset,
      0 0 0 var(--field-height) $b inset;
    -webkit-text-fill-color: $c;
    text-indent: $t;
  }

  input:-webkit-autofill:focus,
  select:-webkit-autofill:focus {
    -webkit-box-shadow:
      0 0 0 var(--field-height) $a inset,
      0 0 0 var(--field-height) $b inset;
    -webkit-text-fill-color: $c;
    text-indent: $t;
  }
}

// Media Queries
@mixin minmedia($screen) {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin maxmedia($screen) {
  @media (max-width: $screen) {
    @content;
  }
}

// Media query mixin for min-width (mobile-first)
@mixin min-media($bp) {
  @media (min-width: map.get($breakpoints, $bp)) {
    @content;
  }
}

// Media query mixin for max-width (desktop-first)
@mixin max-media($bp) {
  @media (max-width: (map.get($breakpoints, $bp) - 1px)) {
    @content;
  }
}
